body{
    font-size:12px; 
    color:#ccc;
    background:#f5f6f7;
    font-family: 'Noto Sans', sans-serif;

}

a{
    color:#8592a6;

}

header{
    position:fixed;
    width:280px;
    overflow-x:hidden;
    overflow-y:auto;
    height:100%;
    background:#fff;
    top:0;
    left:0;
    z-index:1000;
    display:block;
}

.profilecard{
    width:220px;
    height:300px;
    margin:80px auto;
    outline:1px solid #ccc;
    text-align:center;

}


.photo img{
    width:80px;
    height:80px;
    border-radius:50%;
    border:1px solid #ccc;
    margin-top:50px;
    padding:5px;
    
}

.userinfo{
    margin-top:30px;
    color:#8592a6;
}

.userinfo h1{
    font-size:14px;
    font-weight:800;

}

.userinfo h2{
    padding-top:8px;
    font-size:13px;
    letter-spacing:2px;
}


nav ul li a{
    display:block;
    margin:20px auto;
    width: 220px;
    height: 50px;
    font-size:14px;
    line-height:50px;
    text-indent:30%;
    letter-spacing:2px;
    position:relative;
}

nav ul li a:before{
    content:"";
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:30px;
    width:16px;
    height:20px;
    background:url(images/icon-school.svg) no-repeat;

}

nav ul li a:hover{
    color:#ff7f45;
}

nav ul li a:hover::before{
    background-position:-34px 0;
}

/**/
main > h2{
    font-size:24px;
    color:000;


}

