/*scrollbar*/
html{
    --scrollbarBG:#fff;
    --thumbBG:#92c05b;
}

.scrollb::-webkit-scrollbar{
    width:20px;
    height:20px;
}

.scrollb{
    scrollbar-width:thin;
    scrollbar-color:var(--thumbBG) var(--scrollbarBG);
    scroll-behavior: smooth;
}

.scrollb::-webkit-scrollbar-track{
    background:var(--scrollbarBG);

}

.scrollb::-webkit-scrollbar-thumb{
    background:var(--thumbBG);
    border-radius:20px;
    border:3px solid var(--scrollbarBG);
}

/*body*/

body{
    overflow-x:hidden;
    font-size:12px; 
    color:#ccc;
    background:#fff;
    font-family: 'Noto Sans', sans-serif;
    min-width:1100px;
}


a{
    color:#fff;

}

.wrap{
    width:1100px;
    margin:0 auto;
    box-shadow: .5rem .5rem 3rem rgba(26,26,26,.5);
}


.sidebar{
    position:fixed;
    width:280px;
    overflow-x:hidden;
    overflow-y:auto;
    height:100%;
    background:#92c05b;
    z-index:1100;
}


.profilecard{
    width:220px;
    height:300px;
    margin:80px auto 40px;
    outline:1px solid #fff;
    text-align:center;
    overflow:hidden;
    position:relative;
}


.photo img{
    width:80px;
    height:80px;
    border-radius:50%;
    border:1px solid #fff;
    margin-top:50px;
    padding:5px;
    
}

.photo p{
    content:"";
    background:url(images/pro2.png)35% 30% no-repeat;
    width:80px;
    height:80px;
    border-radius:50%;
    position:absolute;
    top:55px;
    transform:translateX(-50%);
    left:50%;
    z-index:9999;

}

.userinfo{
    margin-top:30px;
    color:#fff;
}

.userinfo h2{
    font-size:14px;
    font-weight:800;

}

.userinfo p{
    padding-top:8px;
    letter-spacing:2px;
}

nav ul li{
    overflow:hidden;

}

nav ul li a{
    display:block;
    margin:5px 0 10px 5px;
    width: 220px;
    height: 50px;
    line-height:50px;
    text-indent:30%;
    letter-spacing:2px;
    position:relative; 
    color:rgba(255, 255, 255, .8);
    font-weight:900;
}


nav ul li a:before{
    content:"";
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:30px;
    width:20px;
    height:20px;
    background:url(images/icon-heart.png) no-repeat;
    background-size:cover;
    opacity:0.3;

}

nav ul li a:hover{
    color:#fff;
}

nav ul li a:hover::before, nav ul li a:active::before{
    background:url(images/icon-heart4.png) no-repeat;
    background-size:cover;
    opacity:1;
}

/**/
.content{
    margin-left:280px;
    width:820px;
    height:aut0;
    background:#fff;

}


.homecontainer{
    width:820px;
    height:1100px;
}


.bgcircle {
	background:url(images/home.jpg) 50% 0% no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 1100px;
    overflow: hidden;
    position: relative;
}

.bgcircle h1{
    position:absolute;
    top:28%;
    left:50%;
    transform:translateX(-50%);
    color:#fff;
    font-size:70px;
    text-align: center;
    z-index: 800;
    text-shadow: 2px 1px 4px rgba(0,0,0,.8);
}


.bgcircle ul{
	position: relative;
	z-index: 1;
    width:800px;
    height:1090px;
}
	
.circle {
    z-index:0;
    position: absolute;
    top:-360px;
    left:-360px;
    width:1500px;
    height:1500px;
    border-radius: 50%;
	background: rgba(255, 255, 255, .1);
	transform: scale(0);
	opacity: 0;
	transform-origin: 50% 50%;
    animation: pulse 4.5s cubic-bezier(.5,.5,0,1) infinite;
}
		
.circle2 {
    background: rgba(255, 255, 255, .05);
	animation: pulse 3.8s cubic-bezier(.5,.5,0,1) infinite;
    
}
		
.circle3 {
    background: rgba(255, 255, 255, .2);
    animation: pulse 3s cubic-bezier(.5,.5,0,1) infinite;

}
	


@keyframes pulse {
	
	35% {
		opacity: 0.3;
	}
	
	100% {
		transform: scale(1);
	}
	
}


.content > ul > li{
    width:820px;
    height:1000px;
    padding:0 5%;
    box-sizing:border-box;
    color:#333;
    overflow:hidden;
}

.content> ul > li > h2{
    padding-top:10%;
    padding-bottom:4%;
    font-size:30px;
    color:#111;
}



/*#menu1*/


#menu1 table {
    width:100%;
}

#menu1 table td{
    padding-bottom:2%;
}

#menu1 table td:first-child{
    width:20%;
    padding-left:5%;
}

#menu1 a{
    color:#333;
    font-style: italic;
    transition:all .3s;
}

#menu1 a:hover{
    color:#92c05b;

}


#menu1 > div { 
    padding:0 5%;
    width:100%;
    height:50%;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
    align-content:stretch;
    box-sizing:border-box;

}

#menu1 > div > div{
    position: relative;
    width: 180px;
    height: 100px;
    background:#92c05b;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 6px 5px 3px rgba(26,26,26,.2);
}

#menu1 > div > div:before{
    content: "";
    position:absolute;
    right:100%;
    top:50%;
    width:0;
    height:0;
    border-top: 13px solid transparent;
    border-right: 26px solid #92c05b;
    border-bottom: 13px solid transparent;
}


#menu1 > div > div > p{
    font-size:1.2em;
    font-weight:800;
}

/*#menu 2*/




#menu2 > div {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
} 

#menu2 > div > section {
    width:360px;
    height:280px;
}


#menu2 div > section > h3{
    margin:4%;
    font-size:1.2em;

}

#menu2 section > div {
    width:90%;
    margin:20px auto;
    height:20px;
    background:rgba(26,26,26,.2);
    border-radius:15px;
    position:relative;
}

#menu2 section > div > p {
    width:90%;
    position:absolute;
    top:0;
    left:0;
    height:20px;
    border-radius:15px;
    background:#92c05b;

}

#menu2 section > div > p > span{
    position:absolute;
    left:90%;
    top:25px;
}

#menu2 section > p{
    font-size:1.2em;
    margin: 8% 5% 0;
    text-align:justify;
}

/*menu3*/

#menu3 > div{
    height:760px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:stretch;
}

#menu3 > div > div{
    width:32%;
    height:236px;
    background:#92c05b;
    box-shadow: 6px 5px 3px rgba(26,26,26,.2);
    position:relative;
    overflow:hidden;
    box-sizing:border-box;

}

#menu3 > div > div > p {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    transition:all .8s;
}

#menu3 > div > div:first-child p{
    background:linear-gradient(0deg, rgba(255,255,255,.1), rgba(0,0,0,.2)), url(images/banner1.png) 50% 50% no-repeat;
    background-size:cover;

}

#menu3 > div > div:nth-child(2) p{
    background:linear-gradient(0deg, rgba(255,255,255,.1), rgba(0,0,0,.2)), url(images/banner21.png) 50% 50% no-repeat;
    background-size:cover;
}

#menu3 > div > div:nth-child(3) p{
    background:linear-gradient(0deg, rgba(255,255,255,.1), rgba(0,0,0,.1)), url(images/banner31.png) 55% 50% no-repeat;
    background-size:cover;
}

#menu3 > div > div:nth-child(4) p{
    background:linear-gradient(0deg, rgba(255,255,255,.1), rgba(0,0,0,.2)), url(images/banner4.jpg)50% 50% no-repeat;
    background-size:cover;
}

#menu3 > div > div:nth-child(5) p{
    background:linear-gradient(0deg, rgba(255,255,255,.1), rgba(0,0,0,.2)), url(images/banner5.png)50% 50% no-repeat;
    background-size:cover;

}

#menu3 > div > div:nth-child(6) p{
    background:linear-gradient(0deg, rgba(255,255,255,.1), rgba(0,0,0,.2)), url(images/banner6.jpg)50% 50% no-repeat;
    background-size:cover;

}

#menu3 > div > div:nth-child(7) p{
    background:linear-gradient(0deg, rgba(255,255,255,.1), rgba(0,0,0,.2)), url(images/banner8.png)50% 25% no-repeat;
    background-size:cover;

}

#menu3 > div > div:nth-child(8) p{
    background:linear-gradient(0deg, rgba(255,255,255,.1), rgba(0,0,0,.2)), url(images/banner7.png)50% 15% no-repeat;
    background-size:cover;

}

#menu3 > div > div:last-child p{
    background:linear-gradient(0deg, rgba(255,255,255,.1), rgba(0,0,0,.2)), url(images/banner9.png)50% 50% no-repeat;
    background-size:cover;

}

#menu3 > div > div:hover{
    cursor: pointer;

}

#menu3 > div > div:hover p{
    transform:scale(1.2);
}

#menu3 > div > div > section{
    width:100%;
    height:20%;
    background:rgba(26,26,26,.8);
    position:absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    display:flex;
    justify-content: center;
    align-items: center;
}

#menu3 > div > div > section > h3{
    color:#fff;
    
}

/*menu4*/
#menu4 {
    height:1200px;
    position:relative;
}

#menu4 > div > div{
    position:absolute;
    color:#fff;
    font-size:2.0em;
    font-weight:800;
    min-width:248px;
    min-height:288px;
    background:linear-gradient(0deg,rgba(100,100,100,.7),rgba(100,100,100,.7)),url(images/holder.jpg)60% 50% no-repeat;
    background-size:cover;
    border-radius:16px;
    text-align:center;
}

#menu4 > div > div:first-child{
    top:180px; /*+350px;*/
}

#menu4 > div > div:nth-child(3){
    top:515px; /*+350px;*/
}

#menu4 > div > div:nth-child(5){
    top:850px; /*+350px;*/
}

#menu4 > div > div > h3{
    font-size:1.6em;
    margin:30% 0 10%;
    font-style:italic;
}

#menu4 > div > div > p{
    font-size:.8em;
    font-weight:400;
}

#menu4 > div > ul {
    width:740px;
    display:flex;
    flex-flow:row nowrap;
    padding-top:1em;
    margin:2em 0 3em 248px;
}

#menu4 > div > ul > li {
    font-size:1.2em;
    min-width: 200px;
    min-height: 240px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #93c05b;
    box-shadow: -.5em 0 3px rgba(26,26,26,.5);
    display: flex;
    flex-direction: column;
    margin:0 -7em;
    transition:.8s;
}

#menu4 > div > ul > li:hover {
    cursor: pointer;
    margin-left:-4.5em;
    margin-right:3em;
    transition:1s;
}

#menu4 > div > ul > li:first-child {
    box-shadow: none;
    margin-left:0;
}

#menu4 > div > ul > li:first-child:hover{
    box-shadow:-.5em 0 3px rgba(26,26,26,.5);
    left:0;
}

#menu4 > div > ul > li:last-child:hover{
    box-shadow:-.5em 0 3px rgba(26,26,26,.5);
    margin-left:-6em;
    margin-right:0;
}

#menu4 > div > ul > li > span, #menu4 > div > ul > li > h4{
    opacity:0;
}

#menu4 > div > .clonecoding > li:first-child{
    background:linear-gradient(0deg,rgba(0,0,0,.2), rgba(0,0,0,.2)),url(images/clone11.jpg)30% 50% no-repeat;
    background-size:cover;
}

#menu4 > div > .clonecoding > li:nth-child(2){
    background:linear-gradient(0deg,rgba(0,0,0,.2), rgba(0,0,0,.2)),url(images/clone1.jpeg)no-repeat;
    background-size:cover;
}

#menu4 > div > .clonecoding > li:nth-child(3){
    background:linear-gradient(0deg,rgba(0,0,0,.2), rgba(0,0,0,.2)),url(images/clone2.png)30% 50% no-repeat;
    background-size:cover;
}

#menu4 > div > .clonecoding > li:nth-child(4){
    background:linear-gradient(0deg,rgba(0,0,0,.2), rgba(0,0,0,.2)),url(images/clone55.jpg)10% 50% no-repeat;
    background-size:cover;
}

#menu4 > div > .clonecoding > li:nth-child(5){
    background:linear-gradient(0deg,rgba(0,0,0,.2), rgba(0,0,0,.2)),url(images/clone4.jpg)30% 30% no-repeat;
    background-size:cover;
}

#menu4 > div > .Apppage > li:first-child{
    background:linear-gradient(0deg,rgba(0,0,0,.2), rgba(0,0,0,.2)),url(images/app1.png)20% 20% no-repeat;
    background-size:cover;
}

#menu4 > div > .Apppage > li:nth-child(2){
    background:linear-gradient(0deg,rgba(0,0,0,.2), rgba(0,0,0,.2)),url(images/app2.png)no-repeat;
    background-size:cover;
}

#menu4 > div > .Apppage > li:nth-child(3){
    background:linear-gradient(0deg,rgba(0,0,0,.2), rgba(0,0,0,.2)),url(images/app3.jpg)20% 50% no-repeat;
    background-size:cover;
}

#menu4 > div > .handmade > li:first-child{
    background:linear-gradient(0deg,rgba(0,0,0,.2), rgba(0,0,0,.2)),url(images/hand1.jpg)70% 50% no-repeat;
    background-size:cover;
}

#menu4 > div > .handmade > li:nth-child(2){
    background:linear-gradient(0deg,rgba(0,0,0,.2), rgba(0,0,0,.2)),url(images/home.jpg)50% 50% no-repeat;
    background-size:cover;
}
