body{
    font-size:12px; 
    color:#ccc;
    background:#fff;
    font-family: 'Noto Sans', sans-serif;
    min-width:1100px;

}

a{
    color:#8592a6;

}

.wrap{
    width:1100px;
    margin:0 auto;
}


.sidebar{
    position:fixed;
    width:280px;
    overflow-x:hidden;
    overflow-y:auto;
    height:100%;
    background:#cce4e5;
    z-index:1100;
}

.profilecard{
    width:220px;
    height:300px;
    margin:80px auto;
    outline:1px solid #fff;
    text-align:center;
    overflow:hidden;
}


.photo img{
    width:80px;
    height:80px;
    border-radius:50%;
    border:1px solid #fff;
    margin-top:50px;
    padding:5px;
    
}

.userinfo{
    margin-top:30px;
    color:#8592a6;
}

.userinfo h1{
    font-size:14px;
    font-weight:800;

}

.userinfo h2{
    padding-top:8px;
    font-size:13px;
    letter-spacing:2px;
}

nav ul li{
    overflow:hidden;

}

nav ul li a{
    display:block;
    margin:10px 0 10px 4px;
    width: 220px;
    height: 50px;
    font-size:14px;
    line-height:50px;
    text-indent:30%;
    letter-spacing:2px;
    position:relative;
}

nav ul li a:before{
    content:"";
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:30px;
    width:16px;
    height:20px;
    background:url(images/icon-school.svg) no-repeat;

}

nav ul li a:hover{
    color:#ff7f45;
}

nav ul li a:hover::before{
    background-position:-34px 0;
}

/**/
.contentwrap{
    margin-left:280px;
    width:820px;
    height:aut0;
    background:#fff;

}

.homecontainer{
    width:820px;
    height:873px;
    padding:100px 0;
    outline:1px solid red;
}

.contentwrap > ul > li{
    width:820px;
    height:873px;
    outline:1px solid blue;
}

.contentwrap > ul > li > h2{
    font-size:23px;
    color:#111;
    padding:10%;